
.ORLANDO{
    font-family:Arial;
    font-size: 20px;
    color: brown;
}
.ADAM{
    font-family: Arial;
    font-size: 20px;
    color:rgb(61, 15, 134);
}
.OLIVER{
    font-family: Arial;
    font-size: 20px;
    color: green;
}

.speech{
    font-family: Verdana;
    font-size:80%;
    color: black;
    font-weight: normal;
}

.stage-direction{
    font-family: Helvetica;
    font-size: 20px;
    color: black;
    background-color: lightgreen;
    display: inline;
}

.stage-direction:hover{
    background-color: lightsalmon;
    border: 2px solid;
    display: inline;
}
table,
th,
td {
    border: 3px solid rgb(8, 8, 8);
    border-collapse: collapse;
    padding: 10px;
    margin: 1%;
}
th{ text-align: center;
    color: rgb(7, 7, 7);
    font-weight:bold;
   }
td{text-align: left;
   color:black;}

tr:nth-child(even) {
    background-color: mediumspringgreen;
  }
tr
td{text-align: left;}

.ORLANDO:hover{
    text-shadow: 7px 7px 7px blue;
    border: black;
    border: ridge;   
    display: inline;
}
